/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body  {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS", verdana, arial, sans-serif;
}

div, h1, h2, h3, footer {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 1.5em;
}

form {
  padding: 15px;
}

ul {
  padding: 5px 0;
  list-style: circle;
  list-style-position: inside;
}

li {
  line-height: 15px;
  padding: 7px 0;
}

#buildsScreen {
  height: 100%;
  width: 100%;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.configScreen {
  left: 0;
  top: 0;
  width: 400px;
  position: absolute;
  z-index: 1000;
  background: white;
}

.configClose {
  position: absolute;
  top: 10px;
  right: 10px;
}

footer {
  bottom: 0;
  color: white;
  background-color: black;
  min-height: 40px;
  display: -webkit-box;
}

footer section {
  -webkit-box-flex: 1;
  text-align: center;
}

footer p {
  line-height: 40px;
}

footer a {
  text-transform: capitalize;
}

.addBuild {
  color: #777;
  background: #dedede;
  height: 60px;
  padding: 0; margin: 0;
}

.addBuild input[type=text] {
  font-size: 1em;
  border-radius: 2px;
  border: none;
  margin: 15px 0 15px 10px;
  padding: 5px;
}

.addBuild .jobUrl, .addBuild .frequency, .addBuild .add {
  float: left;
}

.jobUrl {
  width: 70%;
}

.frequency {
  width: 20%;
}

.addBuild .add {
  color: #777;
  font-size: 2.5em;
  line-height: 60px;
  margin-left: 10px;
  text-decoration: none;
}
.addBuild .add:hover {
  color: #666;
}


.build-display {
  left: 0;
  right: 0;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-flex: 1;
  background-color: #fff;
}

.build {
  color: #777;
  background: #dedede;

  -webkit-box-flex: 1;
  margin: 10px;
  margin-bottom: 0;
  padding: 20px;
  position: relative;
}

.build:last-child {
  margin-bottom: 10px;
}

.build h2, .build h3 {
  text-align: left;
}

.build h2 {
  line-height: 80px;
  -webkit-box-flex: 1;
}

.build.good h2, .build.bad h2,.build.good h3, .build.bad h3 {
  color: #fff;
}

.build .remove {
  color: rgba(0,0,0,0.5);
  background: transparent;
  position: absolute;
  text-decoration: none;
  font-size: 2em;
  position: absolute;
  padding: 0 7px;
  top: 0;
  right: 0;
}

.build .remove:hover {
  color: rgba(0,0,0,0.7);
}

.good {
  background-color: #05A31A;
}

.bad {
  background-color: #e30b0b;
}

.building {
  background: #FFF824;
}

.building h2, .building h3 {
  color: #7D7A0E;
}

.build-progress {
  background-color: rgba(77, 74, 10, 0.1);
  margin: 10px 0;
  padding: 10px;
  width: 300px;
}

.build-progress p {
  line-height: 18px;
}
