/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body  {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS", verdana, arial, sans-serif;
}

div, h1, h2, h3, footer {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-align: center;
}

h2 {
  font-size: 3em;
}

form {
  padding: 15px;
}

ul {
  padding: 5px 0;
  list-style: circle;
  list-style-position: inside;
}

li {
  line-height: 15px;
  padding: 7px 0;
}

#buildsScreen {
  height: 100%;
  width: 100%;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.configScreen {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1000;
  background: white;
}

footer {
  bottom: 0;
  color: white;
  background-color: black;
  min-height: 40px;
  display: -webkit-box;
}

footer section {
  -webkit-box-flex: 1;
  text-align: center;
}

footer p {
  line-height: 40px;
}

footer a {
  text-transform: capitalize;
}


.build-display {
  left: 0;
  right: 0;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-flex: 1;
  background-color: pink;
}

.build {
  -webkit-box-flex: 1;
  border-top: solid thin black;
}

.build h2 {
  line-height: 80px;
}

.good {
  background-color: green;
}

.bad {
  background-color: red;
}

.building h2 {
  color: white;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: yellow;
}

.build-progress {
  background-color: #ccc;
  width: 300px;
  margin-left: 50px;
  padding: 4px;
}
